<h1 class="text-center"> User: <%= @user.username %>
  <% if current_user and (current_user == @user or current_user.admin) %>
    <%= link_to "Edit", edit_user_path(@user), class: "btn btn-warning" %>
    <%= link_to 'Destroy', user_path(@user), class: "btn btn-danger", method: "delete", confirm: "Are you sure?" %>
  <% end %>
</h1>
<h3 class="text-center"> My Pokemon: </h3>

<% @user.user_pokes.each do |poke| %>
  <div class="panel panel-warning col-xs-2">
    <div class="panel-heading">
      <h2 class="panel-title text-center">
        <strong>
        <%= link_to poke.poke.name, poke.poke %>
      </strong>
      <% if poke.level %><span class="badge"><%= poke.level %></span> <% end %>
    </h2>
    </div>
    <div class="panel-body">
      <img src='http://pokeapi.co/media/img/<%= poke.poke.api_id %>.png'>
       <strong> Effort Value: </strong> <span class="badge"><% if poke.ev %> <%= poke.ev %></span>
       <% else %> Not set
       <% end %>
    </div>
  </div>
<% end %>
