<p id="notice"><%= notice %></p>

<h1 class="text-center">Pokemon</h1>

<ul class="list-group row">
  <% @pokemons.each do |poke| %>
    <li class="list-group-item col-xs-2" style="background-color:transparent;">
      <img src='http://pokeapi.co/media/img/<%= poke.api_id %>.png'>

      <%= link_to poke.name, poke, class: "btn btn-default" %>
      <% if current_user and current_user.has_poke_in_list?(poke) %>
        <%= link_to 'On List', current_user, class:"btn btn-xs btn-success"%>
      <% end %>
    </li>
  <% end %>
</ul>

<div class="col-md-6 col-md-offset-3">
  <% if current_user %>
    <%= link_to "New Pokemon", new_poke_path, :class => "btn btn-success text-center", :method => :get %>
  <% end %>
</div>
<br>
